{pre_hooks, [{compile, "./scripts/prepare.sh"}]}.
{port_specs, [{"priv/ossp_uuid_drv.so", ["c_src/*.c"]}]}.
{port_env,
 [{"DRV_LDFLAGS","deps/uuid-1.6.2/.libs/libuuid.a -shared $ERL_LDFLAGS"},
  {"darwin", "DRV_LDFLAGS", "deps/uuid-1.6.2/.libs/libuuid.a -bundle -flat_namespace -undefined suppress $ERL_LDFLAGS"},
  {"DRV_CFLAGS","-Ic_src -Ideps/uuid-1.6.2 -g -Wall -fPIC $ERL_CFLAGS"}]}.
